@import '../../styles/partials/colors';
@import '../../styles/partials/display';
@import '../../styles/partials/fontfamily';
@import '../../styles/partials/globals';
@import '../../styles/partials/mediaQ';
@import '../../styles/partials/padding';

.videos {
    padding: 0rem 1rem 1rem 1rem;
    @include tablet {
        padding: 0rem 2.25rem 0rem 2.25rem;
    }
    @include desktop {
        padding: 0rem 1.5rem 0rem 1.5rem;
    }
}

.videos__title {
    @include mob-font-med;
    font-weight: weight(med);
    color: primcolor(bf-silver);
    margin: 1rem 0rem ;
    @include tablet {
        margin: 1.5rem 0rem ;
    }
}

.video__wrapper {
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 1rem 0rem;
    @include tablet {
        margin: 0rem 0rem 1.5rem 0rem;
    }
}

.video__wrapper--thumnbnail {
    width: 50%;
    height: fit-content;
    min-width: 100px;
    max-width: 100px;
    margin: 0rem 1rem 0rem 0rem;
    border-radius: 0.25rem;
    @include tablet {
        margin: 0rem 1rem 0rem 0rem;
    }
    @include desktop {
        max-width: 117px;
        min-width: 117px;
        width: 30%;
    }
}

.video__thumbnail  {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
}

.video__wrapper--text {
    @include flex-col;
    justify-content: space-between;

}

.video__text {
    @include mob-font-sml;
    margin: 0rem;
    &--title {
        font-weight: weight(med);
    }

    @include tablet {
        @include tab-desk-font-sml;
    }
}