@import './styles/partials/colors';
@import './styles/partials/display';
@import './styles/partials/fontfamily';
@import './styles/partials/globals';
@import './styles/partials/mediaQ';
@import './styles/partials/padding';

//globals//

body { 
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

.user__avatar {
    background-image: url(./assets/images/Mohan-muruge.jpg);
    background-size: cover;
    width: 36px;
    height: 36px;
    min-height: 36px;
    min-width: 36px;
    max-height: 36px;
    max-width: 36px;
    border-style: hidden;
    background-color: seccolor(bf-mercury);
    border-radius: 50%;
    &--graybg {
        background-image: none;
        
    }
    @include tablet {
        min-height: 40px;
        min-width: 40px;
        max-height: 40px;
        max-width: 40px;
    }
}

.site_input {
    width: 100%;
    height: 36px;
    min-height: 36px;
    min-width: 240px;
    border-radius: 4px;
    padding: 12px;
    border: 1px solid seccolor(bf-mercury);
    color: seccolor(bf-darkblack);
    
    @include tablet {
        height: 40px;
    }
}

.cta_button {
    @include mob-font-btn;
    background-position: 5% 50%;
    background-size: 1.5rem;
    background-repeat: no-repeat;
    font-weight: weight(lrg);
    height: 2.5rem;
    width: 100%;
    min-height: 40px;
    border-radius: 0.25rem;
    background-color: primcolor(bf-blue);
    padding: 0px 32px 0px 32px;
    border: none; 
    color: primcolor(bf-white);
    @include tablet {
        @include tab-desk-font-btn;
    }
}
//HEADER//

header {
    @include flex-col;
    width: 100%;
    align-items: center;
    padding: 1rem;
    @include tablet {
        padding: 1rem 2.25rem 1rem 2.25rem;
        display: flex;
        flex-direction: row;
    }
}

.header__logo {
    width: 100%;
    max-width: 120px;
    max-height: 25px;
    margin-bottom: 1rem;
    @include tablet {
        margin: 0rem 1.5rem 0rem 0rem;
    }
}

.header__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    @include tablet {
        margin: 0rem;
        justify-content: end;
    }
}

.header__input {
    background-image: url(./assets/icons/search.svg);
    background-position: 1rem 50%;
    background-size: 1rem;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
    width: 100%;
    margin-right: 1rem;
    @include tablet {
        width: 0rem;
        margin-right: 1.5rem;
        padding-left: 2.5rem;
    }
    &--active {
        background-image: none;
        padding: 12px;
        outline: 2px solid primcolor(bf-blue);
    }
    
}

.header__avatar--mobile {
    display: flex;
    @include tablet {
        display: none;
    }
}

.header__avatar--tablet {
    display: none;
    @include tablet {
        display: flex;
    }
    
}

.header__button {
    background-image: url(./assets/icons/upload.svg);
    margin-right: 1.5rem;
    @include tablet {
        width: 30%;
    }
}

.header__wrapper--tablet {
    width: 100%;
    @include tablet {
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
}

//VIDEO//

.main__wrapper--video {
    background-color: seccolor(bf-darkblack);
    @include tablet { 
        padding: $tabLR;
    }
}

.main__video {
    width: 100%;
    height: 100%;
}

//VIDEO INFO//

.hero {
    padding: 1.5rem 1rem 0rem 1rem;
    width: 100%;
    @include  tablet {
        padding: 2.25rem 2.25rem 0rem 2.25rem; 
    }
}   

.hero__title {
    margin: 0rem 0rem 1rem 0rem;
    @include mob-font-lrg;
    font-weight: weight(lrg);
    @include tablet {
        @include tab-desk-font-lrg;
        margin: 0rem 0rem 1.5rem 0rem;
    }
}

.hero__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid seccolor(bf-mercury);

    &--text {
        width: 100%;
        @include flex-col;
        justify-content: space-between;
        @include tablet {
            display: flex;
            flex-direction: row;
            justify-content: start;
        }
    }
    &--icon {
        display: flex;
        align-items: end;
    }

    &--tablet {
        @include tablet {
            border-bottom: 1px solid seccolor(bf-mercury);
            margin-bottom: 1.5rem;
        }
    }

    @include tablet {
        border-bottom: none;
        margin: 0rem;
    }
}

.hero__wrapper--text-selfend {
    display: flex;
    justify-content: end;
}

.hero__img {
    &--icon-likes {
        width: 5.5vw;
        height: 100%;
        margin: 0rem .25rem 1.05rem 0rem;
        background-image: url(./assets/icons/likes.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        @include tablet {
            margin: 0rem 0rem 1.05rem 0rem;
        }
    }
    &--icon-views {
        @extend .hero__img--icon-likes;
        background-image: url(./assets/icons/views.svg);
    }
    @include tablet {

    }
}

.hero__text {
    @include mob-font-sml;
    margin: 0rem 0rem 1rem 0rem;
    color: primcolor(bf-silver);
    @include tablet {
        @include tab-desk-font-sml;
        margin: 0rem 0rem 1rem 0rem;

    }
    &--blacktext-demi {
        font-weight: weight(med);
        color: primcolor(bf-black);
        @include tablet {
            margin: 0rem 1.5rem 1rem 0rem;
        }
       
    }
    &--blacktext {
        color: primcolor(bf-black);
        margin: 1rem 0rem 1rem 0rem;
        @include tablet {
            margin: 1.5rem 0rem 1.5rem 0rem;
        }
    }
}

//FORM//

.form {
    padding: 0rem 1rem;
    @include tablet {
        padding: 0rem 2.25rem;
    }
}

.form__wrapper {
    display: flex;
    flex-direction: row;
    padding: 0rem 0rem 1rem 0rem;
    border-bottom: 1px solid seccolor(bf-mercury);
}

.form__wrapper--tablet {
    @include tablet {
        display: flex;
        flex-direction: row;
    }
    
}

form {
    @include flex-col;
    width: 100%;
}

.form__avatar {
    margin: 1.5rem 1rem 0rem 0rem;
    @include tablet {
        margin: 1.5rem 1.5rem 0rem 0rem;  
    }
}

.form__label {
    @include mob-font-btn;
    font-weight: weight(lrg);
    color: primcolor(bf-silver);
    padding-bottom: 4px;
}

.form__input {
    margin: 0rem 0rem 1rem 0rem;

    &--active {
        padding: 12px;
        outline: 2px solid primcolor(bf-blue);
    }

    &--mobile {
        @extend .site_input;
        height: 150px;
        resize: none;
        @include tablet {
            display: none;
        }
    }

    &--tablet {
        display: none;
        @include tablet {
            display: flex;
        }
    }
}

.form__button {
    background-image: url(./assets/icons/add_comment.svg);
    @include tablet {
        width: 35%;
        margin-left: 1.5rem;
    }
}

//COMMENT//

.comments {
    padding: 1rem 1rem 0rem 1rem;
    @include tablet {
        padding: 1.5rem 2.25rem 0rem 2.25rem;
    }
}

.comment__avatar {
    margin: 0rem 1rem 0rem 0rem;
}

.comment__wrapper {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid seccolor(bf-mercury);
    margin-bottom: 1rem;
}

.comment__wrapper--name-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment__text {
    margin: 0rem 0rem 1rem 0rem;
    color: primcolor(bf-black);
    @include mob-font-sml;

    &--name {
        font-weight: weight(med);
    }

    &--date {
        color: primcolor(bf-silver);
    }

    @include tablet {
        @include tab-desk-font-sml;
    }
}

//VIDEOS//

.videos {
    padding: 0rem 1rem 1rem 1rem;
    @include tablet {
        padding: 0rem 2.25rem 0rem 2.25rem;
    }
}

.videos__title {
    @include mob-font-med;
    font-weight: weight(med);
    color: primcolor(bf-silver);
    margin: 1rem 0rem ;
    @include tablet {
        margin: 1.5rem 0rem ;
    }
}

.video__wrapper {
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem 1rem 0rem;
    @include tablet {
        margin: 0rem 0rem 1.5rem 0rem;
    }
}

.video__wrapper--thumnbnail {
    width: 50%;
    height: fit-content;
    min-width: 100px;
    max-width: 100px;
    margin: 0rem 1rem 0rem 0rem;
    border-radius: 4px;
    @include tablet {
        margin: 0rem 1.5rem 0rem 0rem;
    }
}

.video__thumbnail  {
    width: 100%;
    height: 100%;
    
    border-radius: 4px;
}

.video__wrapper--text {
    @include flex-col;
    justify-content: space-between;

}

.video__text {
    @include mob-font-sml;
    margin: 0rem;
    &--title {
        font-weight: weight(med);
    }

    @include tablet {
        @include tab-desk-font-sml;
    }
}