@import './styles/partials/colors';
@import './styles/partials/display';
@import './styles/partials/fontfamily';
@import './styles/partials/globals';
@import './styles/partials/mediaQ';
@import './styles/partials/padding';

//GLOBALS//

body { 
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

a {  
    color: primcolor(bf-black);
}  