@import './styles/partials/colors';
@import './styles/partials/display';
@import './styles/partials/fontfamily';
@import './styles/partials/globals';
@import './styles/partials/mediaQ';
@import './styles/partials/padding';

//GLOBALS//
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: primcolor(bf-blue);
    color: white;
    font-weight: weight(lrg);
    @include tab-desk-font-lrg;
    a {
        color: white;
    }
}

body { 
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}

a {  
    color: primcolor(bf-black);
}  



.upload {
    padding: 1rem;
    border-top: 1px solid seccolor(bf-mercury);
    @include tablet {
        padding: 0rem 2.25rem
    }
    @include desktop {
        padding: 0rem 7rem;
    }
}

.upload__wrapper--desktop {
    @include desktop {
        width: 100%;
        display: flex;
        align-items: baseline;
    }
}


.upload__wrapper--title {
    @include tablet {
        border-bottom: 1px solid seccolor(bf-mercury);
        padding: 1.5rem 0rem;
        margin-bottom: 1.5rem;
    }
}
    

.upload__title {
    @include mob-font-lrg;
    font-weight: weight(lrg);
    color: primcolor(bf-black);
    margin: .5rem 0rem 1rem 0rem;
    @include tablet {
        @include tab-desk-font-lrg;
        margin: 0rem
    }
    
}

.upload__wrapper--img {
    @include desktop {
        width: 100%;
        max-width: 366.5px;
        padding-right: 1.5rem;
        border-bottom: 1px solid seccolor(bf-mercury);
    }
}

.upload__text {
    @include mob-font-sml;
    font-weight: weight(med);
    color: primcolor(bf-silver);
    margin: 0rem 0rem 4px 0rem;
    @include tablet {
        @include tab-desk-font-sml;
    }
    @include tablet {
        @include tab-desk-font-sml;
        margin: 0rem;
    }
}

.upload__image {
    width: 100%;
    @include tablet {
        width: 50%;
        margin-bottom: 1.5rem;
    }
    @include desktop {
        width: 100%;
    }
}

//UPLOAD FORM// 

.upload-form__wrapper {
    @include flex-col;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem;  
    @include tablet {
        padding: 0rem;
    }
}

.upload-form__wrapper--input  {
    @include tablet {
        border-bottom: 1px solid seccolor(bf-mercury);
    }
    @include desktop {
        width: 100%;
        margin-bottom: 1.5rem;
        border-bottom: 1px solid seccolor(bf-mercury);
    }
}


.upload-form__wrapper--button {
    @include flex-col;
    align-items: center;
    width: 100%;
    @include tablet {
        display: flex;
        flex-direction: row-reverse;
        justify-content: end;
        align-items: center;
        width: 100%;
        padding: 1.5rem 0rem;
    }
    @include desktop {
        padding-top: 0rem;
    }
}

.upload-form__button {
    background-image: url(../src/assets/icons/publish.svg);
    margin-bottom: 1rem;
    @include tablet {
        width: 20%;
        margin: 0rem 0rem 0rem 5rem;
    }
    @include desktop {
        width: 23%;
    }
}

.upload-form__button--cancel {
    background-color: primcolor(bf-white);
    color: primcolor(bf-blue);
    width: fit-content;
    padding: 0rem;
    margin: 0rem;
}