@import '../../styles/partials/colors';
@import '../../styles/partials/display';
@import '../../styles/partials/fontfamily';
@import '../../styles/partials/globals';
@import '../../styles/partials/mediaQ';
@import '../../styles/partials/padding';

.not-found-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.not-found {
    @include flex-col;
    justify-content: center;    
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: primcolor(bf-blue);
    color: white;
    
    a {
        color: white;
    }
    h1 {
        font-weight: weight(lrg);
        font-size: 2.8rem;
    }
    p {
        font-weight: weight(med);
        font-size: 2rem;
        &:hover {
            color: rgba(255, 255, 255, 0.724);
            
        }
    }
}